

/*body {
	background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(245,245,245) 91%);
	background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(245,245,245) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(245,245,245) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(245,245,245) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(245,245,245) 91%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(240,240,240)),
		color-stop(0.91, rgb(245,245,245))
	);
}*/